/* Base
----------------------------------------------- */
body {
    background: black url('../img/fondo_pasillo.jpg');
}

/* Main
----------------------------------------------- */
article {
  background: #563651;
}
article a:hover {
  color: #563651;
}
