
/* Base
----------------------------------------------- */
body {
  background: black url('../img/beautiful-blue-stars-fill.jpg');
}


/* Main
----------------------------------------------- */
article, nav li a {
  background: #293768;
}
article a:hover {
  color: #293768;
}

/* Footer
---------------------------------------------- */
@media (max-width:480px) {
  footer {
    background: url('../img/pie-1024.gif') no-repeat center bottom;
    height: 126px;
  }
}
@media (min-width:481px) {
  footer {
    background: url('../img/pie.gif') no-repeat center bottom;
    height: 167px;
  }
}
