/* Main
----------------------------------------------- */
#portadas {
    float:left;
}
#portadas a:hover {
  background: transparent;    
}

#portada-klatuu, #portada-drek {
    float: left;
}

#portada-klatuu {
    margin: 1em 1em 1em 0em
}
#portada-drek {
    margin: 3em 1em 0 -3em
}

@media (min-width:769px) {
}
@media (min-width:481px) and (max-width:768px) {
  #portada-drek {
    margin: 120px 1em 0 -190px
  }
}
