/* Main
----------------------------------------------- */
#portadas {
    float:left;
}
#portadas a:hover {
  background: transparent;    
}

#portada-klatuu, #portada-drek {
    float: left;
}

#portada-klatuu {
    margin: 1em 1em 1em 0em
}
#portada-drek {
    margin: 3em 1em 0 -3em
}

@media (min-width:769px) {
  ul.libros li {
  }
}
@media (min-width:481px) and (max-width:768px) {
  ul.libros li {
  }
}

#autor {
    text-align: right;
}
